
.contact-form {
    background: #004d0d;
    margin-top: 7%;
    margin-bottom: 5%;
    width: 70%;
    border-radius: 32px;
  }
  .contact-form .form-control {
    border-radius: 1rem;
  }
  .contact-image {
    text-align: center;
  }
  .contact-image img {
    width: 15%;
    margin-bottom: -5%;
    padding: 25px;
    background: #004d0d;
    border-radius: 34px;
  }
  .contact-form form {
    padding: 14%;
  }
  
  .contact-form form h3 {
    font-family: "Pattaya", sans-serif;
  }
  
  .contact-form form .row {
    margin-bottom: -7%;
  }
  .contact-form h3 {
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #885800;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
  }
  .btnContactSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
  }
  
  .spanEmail {
    display: none;
  }
  
  @media (max-width: 767px) {
    .contact-form form h3 {
      font-size: 3em;
    }
  }
  
  @media (max-width: 1000px) {
    .contact-image {
      display: none;
    }
  }
  
  
  
  * {
    box-sizing: border-box;
  }
  .h1 {
    font-size: 2.5 rem;
    margin-bottom: 0.5rem;
    font-size: 500;
    line-height: 1.2;
  }
  body{
      background-color: #885800
  }
  
  header {
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: 0px 10px 22px 0px #000000;
    background-color: #004d0d;
    
  
  }
  main{
    min-height: 850px;
    padding-top: 85px;
    overflow: hidden;
  }
  
  
  
  header nav .links {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  header nav .links a {
    color: azure;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 10px;
    transition-duration: 800ms;
  }
  
  
  
  header nav .links a:hover {
    /* background: rgb(165, 93, 0); */
    color: rgb(165, 93, 0);
    transform: scale(1.05);
  }
  
  header nav .burger {
    display: none;
  }
  .youtube i:hover {
    transform: scale(1.5);
  }
  .instagram i:hover {
    transform: scale(1.5);
  }
  .facebook i:hover {
    transform: scale(1.5);
  }
  
  
  
  footer{
    background: #004d0d;
  
  }
  @media screen and (max-width: 767px) {
    #id_about img {
      width: 100%;
      margin: 0;
    }
  }
  header {
    height: 60px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 999;
    width: 100%;
    box-shadow: 0px 10px 22px 0px #000000;
    background-color: #004d0d;
    
  
  }
  header nav .links {
    width: 50%;
    display: flex;
    justify-content: space-between;
  }
  
  header nav .links a {
    color: azure;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 10px;
    transition-duration: 800ms;
  }
  body{
    margin: 0 !important;
  }
  
  
  /* Large devices (desktops, less than 1200px) */
  
  @media (max-width: 1199.98px) {}
  
  
  /* Medium devices (tablets, less than 992px) */
  
  @media (max-width: 991.98px) {
      header nav .links {
          width: 60%;
      }
  }
  
  
  /* Small devices (landscape phones, less than 768px) */
  
  @media (max-width: 767.98px) {
      header nav {
          max-width: 100% !important;
      }
      header nav .links {
          width: 100%;
          display: none;
          flex-direction: column;
          background: #2f2e2e;
          position: absolute;
          left: 0;
          top: 60px;
          text-align: center;
      }
      header nav .links a {
          padding: 14px 0;
          border-radius: 0;
          border-top: 1px solid azure;
      }
      header nav .links a:hover {
          transform: scale(1.2);
      }
      header nav .burger {
          display: block;
          color: azure;
          font-size: 30px;
      }
  }
  